<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>深圳市小汽车摇号统计分析</title>
    <script src="/js/amcharts4/core.js"></script>
    <script src="/js/amcharts4/charts.js"></script>
    <script src="/js/amcharts4/themes/animated.js"></script>
    <script src="/js/amcharts4/themes/kelly.js"></script>
    <script src="/js/amcharts4/lang/de_CH.js"></script>
    <script src="/webjars/jquery/2.1.1/jquery.js"></script>
    <script src="/js/amcharts4/plugins/rangeSelector.js"></script>

    <style>
        .charts{
            width: 70%;
            height: 500px;
            margin: auto;
        }
        h1{
            margin-left: 20%;
        }
        .selector {
            width: 70%;
            height: 30px;
            margin: auto;
        }
    </style>
</head>
<body>
<script>
    am4core.ready(function () {
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("personbiddingdiv", am4charts.XYChart);
        chart.language.locale["_date_issueNum"] = "yyyy";
        chart.language.locale["_date_month"] = "MM期";
        chart.colors.step = 2;
        $.ajax({
            url : "/person/biddingData",
            type : "POST",
            success : function(data){
                chart.data = data
            },
            error : function(error){
                alert(error)
            }
        });
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.minGridDistance = 60;
        function createAxisAndSeries(field, name, opposite, bullet) {
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            if (chart.yAxes.indexOf(valueAxis) != 0) {
                valueAxis.syncWithAxis = chart.yAxes.getIndex(0);
            }
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = field;
            series.dataFields.dateX = "issueNum";
            series.strokeWidth = 2;
            series.yAxis = valueAxis;
            series.name = name;
            series.tooltipText = "{name}: [bold]{valueY}[/]";
            series.tensionX = 0.8;
            series.showOnInit = true;
            series.tooltipText = "{dateX.formatDate('yyyy年MM期')}: {valueY.formatNumber('#.')}";
            var interfaceColors = new am4core.InterfaceColorSet();
            valueAxis.renderer.line.strokeOpacity = 1;
            valueAxis.renderer.line.strokeWidth = 2;
            valueAxis.renderer.line.stroke = series.stroke;
            valueAxis.renderer.labels.template.fill = series.stroke;
            valueAxis.renderer.opposite = opposite;
        }
        createAxisAndSeries("averagePrice", "平均成交价", false, "circle");
        createAxisAndSeries("actualNum", "有效编码数", true, "triangle");
        createAxisAndSeries("deployNum", "投放指标数", true, "rectangle");
        chart.legend = new am4charts.Legend();
        chart.cursor = new am4charts.XYCursor();

        var selector = new am4plugins_rangeSelector.DateAxisRangeSelector();
        selector.container = document.getElementById("selectordiv");
        selector.axis = dateAxis;
    }); // end am4core.ready()
</script>
<script>
    am4core.ready(function () {
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("personbiddingDeployNum", am4charts.XYChart);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
        $.ajax({
            url : "/person/biddingDeployNum",
            type : "POST",
            success : function(data){
                chart.data = data
            },
            error : function(error){
                alert(error)
            }
        });

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "issueNum";
        // categoryAxis.dataFields.dateX = "issueNum";
        categoryAxis.renderer.minGridDistance = 40;
        categoryAxis.fontSize = 11;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;
        valueAxis.max = 16000;
        valueAxis.strictMinMax = true;
        valueAxis.renderer.minGridDistance = 30;
        var axisBreak = valueAxis.axisBreaks.create();
        axisBreak.startValue = 10000;
        axisBreak.endValue = 14700;
        var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
        axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

        var hoverState = axisBreak.states.create("hover");
        hoverState.properties.breakSize = 1;
        hoverState.properties.opacity = 0.1;
        hoverState.transitionDuration = 1500;

        axisBreak.defaultState.transitionDuration = 1000;
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryX = "issueNum";
        series.dataFields.valueY = "deployNum";
        series.columns.template.tooltipText = "{valueY.value}";
        series.columns.template.tooltipY = 0;
        series.columns.template.strokeOpacity = 0;

        series.columns.template.adapter.add("fill", function (fill, target) {
            return chart.colors.getIndex(target.dataItem.index);
        });
    }); // end am4core.ready()
</script>
<script>
    am4core.ready(function() {
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("personbiddingActualNum", am4charts.XYChart);
        $.ajax({
            url : "/person/biddingActualNum",
            type : "POST",
            success : function(data){
                chart.data = data
            },
            error : function(error){
                alert(error)
            }
        });

        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.minGridDistance = 60;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        var series = chart.series.push(new am4charts.LineSeries());
        series.dataFields.valueY = "actualNum";
        series.dataFields.dateX = "issueNum";
        series.tooltipText = "{actualNum}"
        series.tooltip.pointerOrientation = "vertical";

        chart.cursor = new am4charts.XYCursor();
        chart.cursor.snapToSeries = series;
        chart.cursor.xAxis = dateAxis;

        chart.scrollbarX = new am4core.Scrollbar();
        var selector = new am4plugins_rangeSelector.DateAxisRangeSelector();
        selector.container = document.getElementById("selectordiv2");
        selector.axis = dateAxis;
    }); // end am4core.ready()
</script>
<script>
    am4core.ready(function () {
        am4core.useTheme(am4themes_animated);
        var chart = am4core.create("personbiddingOveragePrice", am4charts.XYChart);
        chart.language.locale["_date_issueNum"] = "yyyy";
        chart.language.locale["_date_month"] = "MM期";
        chart.colors.step = 2;
        $.ajax({
            url : "/person/biddingOveragePrice",
            type : "POST",
            success : function(data){
                chart.data = data
            },
            error : function(error){
                alert(error)
            }
        });
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.minGridDistance = 60;
        function createAxisAndSeries(field, name, opposite, bullet) {
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            if (chart.yAxes.indexOf(valueAxis) != 0) {
                valueAxis.syncWithAxis = chart.yAxes.getIndex(0);
            }
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = field;
            series.dataFields.dateX = "issueNum";
            series.strokeWidth = 2;
            series.yAxis = valueAxis;
            series.name = name;
            series.tooltipText = "{name}: [bold]{valueY}[/]";
            series.tensionX = 0.8;
            series.showOnInit = true;
            series.tooltipText = "{dateX.formatDate('yyyy年MM期')}: {valueY.formatNumber('#.')}";
            var interfaceColors = new am4core.InterfaceColorSet();
            valueAxis.renderer.line.strokeOpacity = 1;
            valueAxis.renderer.line.strokeWidth = 2;
            valueAxis.renderer.line.stroke = series.stroke;
            valueAxis.renderer.labels.template.fill = series.stroke;
            valueAxis.renderer.opposite = opposite;
            valueAxis.min = 0;
            valueAxis.max = 100000;
        }
        createAxisAndSeries("averagePrice", "平均成交价", false, "circle");
        createAxisAndSeries("minPrice", "最低成交价", true, "triangle");
        createAxisAndSeries("secondAveragePrice", "第二次报价均价", true, "rectangle");
        chart.legend = new am4charts.Legend();
        chart.cursor = new am4charts.XYCursor();

        var selector = new am4plugins_rangeSelector.DateAxisRangeSelector();
        selector.container = document.getElementById("selectordiv3");
        selector.axis = dateAxis;
    }); // end am4core.ready()
</script>
<br>
<br>
<br>
<!-- HTML -->
<h1>竞价综合分析折线图</h1>
<div class="selector" id="selectordiv"></div>
<div class="charts" id="personbiddingdiv"></div>
<br>
<br>
<br>
<h1>每期投放指标数</h1>
<div class="charts" id="personbiddingDeployNum"></div>
<br>
<br>
<br>
<h1>竞价人数走势</h1>
<div class="selector" id="selectordiv2"></div>
<div class="charts" id="personbiddingActualNum"></div>
<br>
<br>
<br>
<h1>成交价走势</h1>
<div class="selector" id="selectordiv3"></div>
<div class="charts" id="personbiddingOveragePrice"></div>
</body>
</html>